In [29]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\katy0\anaconda3\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\katy0\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

In [30]:
import mysql.connector
import pandas as pd
import numpy as np
import sqlalchemy as db

In [34]:
#Conexion al sistema de dbs
db = mysql.connector.connect(
    
    host='localhost',
    user='root',
    password=''
)

#Verificar conexión
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001F885DA9030>

In [35]:
# Cargar datos desde un archivo CSV
data = pd.read_csv('NFLX.csv', sep=',')

In [36]:
data.shape

(5422, 7)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5422 entries, 0 to 5421
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       5422 non-null   object
 1   Open       5422 non-null   float64
 2   High       5422 non-null   float64
 3   Low        5422 non-null   float64
 4   Close      5422 non-null   float64
 5   Adj Close  5422 non-null   float64
 6   Volume     5422 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 296.6+ KB

In [43]:
# Crear una conexión a la base de datos
db = mysql.connector.connect(
    host='localhost',
    user='root',
    password='',
    database='db_prueba'  
)

# Crear una tabla en la base de datos si no existe
cursor = db.cursor()

# Modifica el nombre de la columna "Open" a algo no reservado o enciérralo entre comillas/backticks
cursor.execute("CREATE TABLE IF NOT EXISTS DataSet (Date DATE, `Open` FLOAT, High FLOAT, Low FLOAT, Close FLOAT, Adj FLOAT, Close2 FLOAT, Volume FLOAT)")
db.commit()

from sqlalchemy import create_engine

# Crea un motor SQLAlchemy a partir de la conexión MySQL
engine = create_engine('mysql+mysqlconnector://root:@localhost/db_prueba')


# Subir los datos desde el DataFrame a la tabla MySQL
data.to_sql('dataset', con=engine, if_exists='replace', index=False)

5422