In [1]:
import pandas as pd
import sqlite3

In [5]:
# Cargar datos desde un archivo CSV
data = pd.read_csv('ejecucion-presupuestaria_nivel-partida_a-octubre-2023.csv', sep=';')

In [12]:
# Realizar manipulaciones de datos con Pandas
# 
filtered_data = data[(data['Partida'] < 40) & (data['Subtítulo'] > 15)]
selected_columns = filtered_data[['Partida', 'Nombre Subtítulo']]

# Ejemplo: Agregar una nueva columna calculada
selected_columns = selected_columns.copy() 
selected_columns.loc[:, 'Nueva_Columna'] = selected_columns['Nombre Subtítulo'] * 2

# Imprimir las primeras filas del DataFrame resultante
print("DataFrame resultante ", selected_columns.head())

# Conectar a la base de datos (creará la base de datos si no existe)
conn = sqlite3.connect('mi_base_de_datos.db')

# Guardar el DataFrame manipulado como una tabla en la base de datos
selected_columns.to_sql('mi_tabla', conn, if_exists='replace', index=False)

# Ejemplo de consulta SQL con los datos filtrados
query = "SELECT * FROM mi_tabla WHERE Nueva_Columna > 20"
resultado = pd.read_sql_query(query, conn)

# Mostrar los resultados de la consulta
print("Resultados: ", resultado)

DataFrame resultante     Partida                  Nombre Subtítulo  \
3        6                GASTOS EN PERSONAL
4        6     BIENES Y SERVICIOS DE CONSUMO
5        6  PRESTACIONES DE SEGURIDAD SOCIAL
6        6         TRANSFERENCIAS CORRIENTES
7        6           OTROS GASTOS CORRIENTES

                                       Nueva_Columna
3               GASTOS EN PERSONALGASTOS EN PERSONAL
4  BIENES Y SERVICIOS DE CONSUMOBIENES Y SERVICIO...
5  PRESTACIONES DE SEGURIDAD SOCIALPRESTACIONES D...
6  TRANSFERENCIAS CORRIENTESTRANSFERENCIAS CORRIE...
7     OTROS GASTOS CORRIENTESOTROS GASTOS CORRIENTES
Resultados:       Partida                       Nombre Subtítulo  \
0          6                     GASTOS EN PERSONAL
1          6          BIENES Y SERVICIOS DE CONSUMO
2          6       PRESTACIONES DE SEGURIDAD SOCIAL
3          6              TRANSFERENCIAS CORRIENTES
4          6                OTROS GASTOS CORRIENTES
..       ...                                    ...
287       30  ADQUISICIÓN DE ACTIVOS NO FINANCIEROS
288       30              TRANSFERENCIAS DE CAPITAL
289       30                   SERVICIO DE LA DEUDA
290       31              TRANSFERENCIAS CORRIENTES
291       31              TRANSFERENCIAS DE CAPITAL

                                         Nueva_Columna
0                 GASTOS EN PERSONALGASTOS EN PERSONAL
1    BIENES Y SERVICIOS DE CONSUMOBIENES Y SERVICIO...
2    PRESTACIONES DE SEGURIDAD SOCIALPRESTACIONES D...
3    TRANSFERENCIAS CORRIENTESTRANSFERENCIAS CORRIE...
4       OTROS GASTOS CORRIENTESOTROS GASTOS CORRIENTES
..                                                 ...
287  ADQUISICIÓN DE ACTIVOS NO FINANCIEROSADQUISICI...
288  TRANSFERENCIAS DE CAPITALTRANSFERENCIAS DE CAP...
289           SERVICIO DE LA DEUDASERVICIO DE LA DEUDA
290  TRANSFERENCIAS CORRIENTESTRANSFERENCIAS CORRIE...
291  TRANSFERENCIAS DE CAPITALTRANSFERENCIAS DE CAP...

[292 rows x 3 columns]